<h1>Enclose.IO</h1>
<p>
Compiling your application into a single executable. (<%= Application.count %>)
</p>
<ul>
  <li><a href="https://github.com/pmq20/node-compiler">Node.js Compiler</a></li>
  <li><a href="https://github.com/pmq20/ruby-compiler">Ruby Compiler</a></li>
</ul>
